﻿<div>
    <h2>{{title}}</h2>
    <div class="alert alert-info" ng-show="statusMessage.length>0" ng-click="statusMessage=''">
         {{statusMessage}}
    </div>
    <div class="form-group">
        <label for="name">First name:</label>
        <input type="text" class="form-control" id="name" ng-model="name" ng-change="propertiesDirty=true"/>

        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" ng-model="surname" ng-change="propertiesDirty=true"/>

        <label for="adress">Adress:</label>
        <input type="text" class="form-control" id="adress" ng-model="adress" ng-change="propertiesDirty=true"/>

        <label for="adress">City:</label>
        <input type="text" class="form-control" id="city" ng-model="city" ng-change="propertiesDirty=true"/>
    </div>

    <div class="form-group">
        <label for="adress">Phone number:</label>
        <div ng-repeat="phone in phoneNumbers">
            <input type="text" class="form-control" id="phone" ng-model="phone.number" ng-change="phone.isDirty=true"/>
        </div>
        <button type="button" class="btn btn-default" ng-click="AddPhoneNumber()">+ add phone number</button>
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <div ng-repeat="email in emails">
            <input type="text" class="form-control" id="email" ng-model="email.adress" ng-change="email.isDirty=true"/>
        </div>
        <button type="button" class="btn btn-default" ng-click="AddEmail()">+ add email</button>
    </div>

    <div class="form-group">
        <label for="tag">Tags:</label> 
                <div ng-repeat="tag in tags">
                    <input type="text" class="form-control" id="tag" ng-model="tag.tagText" ng-change="tag.isDirty=true"/>
                </div>
                <button type="button" class="btn btn-default" ng-click="AddTag()">+ add tag</button>
        </div>
    <a href="#/Contacts" class="btn btn-warning">Cancel</a>
    <button type="button" class="btn btn-success" ng-click="SaveContact()">{{submitText}}</button>
</div>
