﻿<div ng-init="allContacts()">
    <h2>{{title}}</h2>
    <div class="alert alert-info" ng-show="statusMessage.length>0" ng-click="statusMessage=''">
        {{statusMessage}}
    </div>
    <span class="span6"><a href="#/Contacts/Add" class="btn btn-default">+ Add contact</a></span><span class="span6 pull-right">Search:<input type="text" ng-model="searchInput" ng-change="FindContacts()"/></span>
        <table class="table table-condensed table-hover table-responsive">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="contact in contacts">
                    <td class="lead">{{contact.name+' '+contact.surname}}</td>
                    <td><span ng-repeat="tag in contact.tags">{{tag.tagText+' '}}</span></td>
                    <td class="text-right">
                        <a href="#/Contacts/{{contact.contactID}}" class="btn btn-default">edit</a>
                    <button type="button" class="btn btn-default" ng-click="DeleteContact(contact.contactID)">delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
